# Python
__pycache__/
*.pyc
.venv/
.env

# Runtime/output
hls_out/
cache_blocks/
*.lock
*.tmp
*.mp4
*.ts
*.m3u8

# ignore everything in music/
music/*

# …except placeholder files we keep
!music/.gitkeep
!music/README.md

old/
src/
Montserrat-VariableFont_wght.ttf